Source: yazpp
Section: libdevel
Priority: optional
Maintainer: Adam Dickmeiss <adam@indexdata.dk>
Standards-Version: 3.6.2
Build-Depends: debhelper (>= 9.0.0),
	libxml2-dev, libxslt1-dev,
	libyaz5-dev (>= 5.1.0)

Package: libyazpp7
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: YAZ++ library
 YAZ++ is a C++ library with an object oriented interface to YAZ and ZOOM.

Package: libyazpp7-dbg
Section: debug
Architecture: any
Depends: ${misc:Depends}, libyazpp7 (= ${source:Version})
Description: debugging symbols for YAZ++ library
 YAZ++ is a C++ library with an object oriented interface to YAZ and ZOOM.

Package: libyazpp7-dev
Section: libdevel
Architecture: any
Conflicts: libyazpp-dev, libyazpp2-dev, libyazpp3-dev, libyazpp4-dev
Provides: libyazpp-dev
Replaces: libyazpp-dev
Depends: libyazpp6 (= ${source:Version}), libyaz5-dev
Description: development libraries for YAZ++
 YAZ++ is a C++ library with an object oriented interface to YAZ and ZOOM.

Package: yazpp-doc
Section: doc
Architecture: all
Description: documentation for YAZ++
 YAZ++ is a C++ library with an object oriented interface to YAZ and ZOOM.

