Source: yazpp
Section: devel
Priority: optional
Maintainer: Adam Dickmeiss <adam@indexdata.dk>
Standards-Version: 3.6.2
Build-Depends: debhelper (>= 4.0.0), libxml2-dev, libxslt1-dev, libyaz4-dev (>= 4.0.1)

Package: libyazpp4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Description: YAZ++ and ZOOM library
 YAZ++ is a C++ library with an object oriented interface to YAZ and ZOOM.

Package: libyazpp4-dev
Section: devel
Architecture: any
Conflicts: libyazpp-dev, libyazpp2-dev, libyazpp3-dev
Depends: libyazpp4 (= ${Source-Version}), libyaz4-dev
Description: Development libraries for YAZ++ and ZOOM
 YAZ++ is a C++ library with an object oriented interface to YAZ and ZOOM.

Package: yazpp-doc
Section: doc
Architecture: all
Description: Documentation for YAZ++
 YAZ++ is a C++ library with an object oriented interface to YAZ and ZOOM.

