<?xml version="1.0"?>
<!-- $Id: config.xml,v 1.12 2003-10-16 16:10:43 adam Exp $ -->
<proxy>
  <target default="1" name="voyager">
    <!-- default target -->
    <url>z3950.loc.gov:7090/voyager</url>
    <url>z3950.loc.gov:7094/voyager</url>
    <keepalive>
      <bandwidth>500000</bandwidth>
      <pdu>500</pdu>
    </keepalive>
    <limit><!-- limits .. -->
      <bandwidth>200000</bandwidth>
      <pdu>31</pdu>
      <retrieve>20</retrieve>
    </limit>
    <attribute type="1" value="1-11,13-1010"/>
    <attribute type="1" value="*" error="114"/>
    <target-timeout>300</target-timeout>
    <client-timeout>180</client-timeout>
    <syntax type="usmarc"/>
    <syntax type="xml" marcxml="1"/>
    <syntax type="*" error="238"/>
    <preinit>0</preinit>
  </target>
  <target name="localhost">
    <url>localhost:9999</url>
    <keepalive/> <!-- keepalive enabled -->
    <limit><!-- limits .. -->
      <bandwidth>50000</bandwidth>
      <pdu>60</pdu>
      <retrieve>10</retrieve>
    </limit>
    <target-timeout>300</target-timeout>
    <client-timeout>180</client-timeout>
    <attribute type="1" value="10,1023-9000" error="114"/>
    <syntax type="usmarc"/>
    <syntax type="grs1"/>
    <syntax type="xml" marcxml="1"/>
    <syntax type="*" error="238"/>
    <preinit>2</preinit>
  </target>
  <target name="*">
    <!-- everything else -->
  </target>
  <max-clients>500</max-clients>
  <xlog>client-apdu server-apdu</xlog>
</proxy>
